<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Random-Diary | Hanjul-Diary</title>
    <link href="{{ url_for('static', filename='css/tailwind.css') }}" rel="stylesheet">
	</head>

  <body class="bg-[rgba(var(--bg-orange))]">
    <main class="min-h-screen flex flex-col justify-center">
			<section class="flex justify-center">
        <div class="logo flex flex-row items-center">
          <img src="{{ url_for('static', filename='logo.png') }}" class="w-[140px] max-[720px]:w-[100px] object-contain" />
          <p class="text-[40px] max-[720px]:text-[28px] font-[500] text-center">일기, 한마디</p>
        </div>
      </section> 

      <section>
        <div class="menu-randomDiary-main-div mx-[90px] max-[720px]:mx-[40px] shadow-div-parent p-8 rounded-[12px] flex flex-col">
          <div class="pt-[20px] pb-[20px] text-[20px] font-[500] text-center">
            <span>다른 사람의 일기</span>
            <br>
            <span class="text-[14px] text-[rgba(var(--gray))] font-[100]">댓글로 다른 사람의 일기를 공감하고 응원해주세요!</span>
          </div>
          <div class="random-diary-div bg-[rgba(var(--bg-orange))] break-words shadow-div-parent border rounded-[8px] px-[20px] py-[60px] my-[20px]">
            <p class="random-diary-text text-center">
              {{ diary.content }}
            </p>
            <p class="mt-1.5 text-[12px] text-center">
              ({{ diary.created_at }})
            </p>
          </div>
          <button class="diary-like-button flex flex-row justify-center px-[20px] py-[12px] border rounded-[8px] shadow-div-parent bg-[rgba(var(--bg-orange))] hover:border-primary">
            <p class="text-[rgba(var(--black))] font-[300]">👍 좋아요 &nbsp</p>
            <p class="diary-like-count-text text-[rgba(var(--primary))] font-[300]">
              {{ diary.like_count if diary.like_count is defined else 0 }}개
            </p>
          </button>
          <p class="text-[16px] font-[300] mt-[20px] mb-[12px]">댓글</p>

          {# 댓글 목록 #}
          {% if comments %}
            {% for comment in comments %}
              {% if comment.is_mine %}
                <div class="diary-reply-div py-[12px] border-b border-b-[rgba(var(--primary))] flex flex-col" data-comment-id="{{ comment._id }}">
                  <div class="flex items-center justify-between">
                    <div class="diary-reply-div flex items-center">
                      <span class="diary-reply-text text-[16px] font-[100] text-[rgba(var(--gray))]">{{ comment.comment }}</span>
                      <input class="diary-reply-edit-input flex-1 bg-[rgba(var(--bg-orange))] hidden shadow-div-parent border rounded-[8px] px-3 py-2 focus:outline-[rgba(var(--primary))]" value=""/>
                      <p class="reply-reveal-my-text ml-[8px] text-[10px] font-[100] text-[rgba(var(--gray))]">(내가 쓴 댓글)</p>
                    </div>
                    <div class="diary-reply-edit-div flex items-center">
                      <button class="diary-reply-edit-button ml-2 px-3 py-1 text-[10px] border rounded-[6px] shadow-div-parent hover:border-primary">수정</button>
                      <button class="diary-reply-save-button ml-2 px-3 py-1 text-[10px] border rounded-[6px] shadow-div-parent hover:border-primary hidden">저장</button>
                      <button class="diary-reply-cancel-button ml-2 px-3 py-1 text-[10px] border rounded-[6px] shadow-div-parent hover:border-primary hidden">취소</button>
                      <button class="diary-reply-delete-button ml-[12px] px-3 py-1 text-[10px] text-[rgba(var(--red))] border rounded-[6px] shadow-div-parent hover:border-warn">삭제</button>
                    </div>
                  </div>
                  {# 작성일자 #}
                  <div class="mt-1">
                    <p class="reply-created-at text-[12px] font-[100] text-[rgba(var(--gray))]">{{ comment.created_at }}</p>
                  </div>
                </div>
              {% else %}
                <div class="diary-reply-div py-[12px] border-b border-b-[rgba(var(--primary))]" data-comment-id="{{ comment._id }}">
                  <p class="diary-reply-text text-[16px] font-[100] text-[rgba(var(--gray))]">
                    {{ comment.comment }}
                </div>
              {% endif %}
            {% endfor %}
          {% else %}
            <div class="py-[12px] border-b border-b-[rgba(var(--primary))]">
              <p class="text-[16px] font-[100] text-[rgba(var(--gray))] text-center">
                아직 작성된 댓글이 없습니다.
              </p>
            </div>
          {% endif %}

          <div class="diary-add-reply mt-[40px] flex items-center">
            <input type="text" placeholder="댓글 달기" class="diary-add-reply-input flex-1 bg-[rgba(var(--bg-orange))] shadow-div-parent border rounded-[8px] px-3 py-2 focus:outline-[rgba(var(--primary))]"/>
            <button class="diary-add-reply-button max-[540px]:text-[12px] text-[rgba(var(--black))] ml-[12px] px-[20px] py-2 max-[540px]:py-3 shadow-div-parent border rounded-[8px] hover:border-primary">
              입력
            </button>
          </div>
          <button class="diary-reply-random-button mt-[40px] py-2 shadow-div-parent border rounded-[12px] hover:border-primary">다음 일기 보기</button>
        </div>
      </section>
      <div class="mx-[90px] max-[720px]:mx-[40px]">
        <button onclick="window.location.href='/diary/main'" class="mt-[20px] py-[16px] max-[720px]:py-[10px] shadow-div-parent text-[18px] font-[200] border rounded-[12px] hover:border-primary w-full">
          메뉴화면으로 돌아가기
        </button>
      </div>
    </main>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        // 이벤트 위임을 이용해서 .menu-randomDiary-main-div 요소에 이벤트 핸들러 등록하기
        const diaryCommentsContainer = document.querySelector('.menu-randomDiary-main-div');

        diaryCommentsContainer.addEventListener('click', async (event) => {
          if (event.target.matches('.diary-reply-save-button')) {
            // 내가 작성한 댓글 수정 이벤트
            const parent = event.target.closest('.diary-reply-div');
            const text = parent.querySelector('.diary-reply-text');
            const input = parent.querySelector('.diary-reply-edit-input');
            const editBtn = parent.querySelector('.diary-reply-edit-button');
            const revealMine = parent.querySelector('.reply-reveal-my-text');

            // 서버에 댓글 업데이트 요청
            const diary_id = '{{ diary._id }}';
            const comment_id = parent.dataset.commentId;
            const comment = input.value;

            // 유효성 검사 : 댓글은 빈 문자열이 될 수 없다.
            if (comment === '' || comment.trim() === '') {
              alert('댓글을 입력해주세요!');
              input.value = '';
              input.focus();
              return false;
            }

            const response = await fetch(`/diary/${diary_id}/comments/${comment_id}`, {
              method: 'PUT',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                diary_id: diary_id,
                comment_id: comment_id,
                comment: comment
              })
            });

            const data = await response.json();
            if (data.redirect) {
              alert(data.message);
              window.location.href = data.redirect;
            }

          } else if (event.target.matches('.diary-reply-cancel-button')) {
            // 수정하다가 취소 버튼을 누를 경우 -> 원래 댓글 내용으로 되돌려야 한다.
            const parent = event.target.closest('.diary-reply-div');
            const text = parent.querySelector('.diary-reply-text');
            const input = parent.querySelector('.diary-reply-edit-input');
            const editBtn = parent.querySelector('.diary-reply-edit-button');
            const cancelBtn = parent.querySelector('.diary-reply-cancel-button');
            const saveBtn = parent.querySelector('.diary-reply-save-button');
            const revealMine = parent.querySelector('.reply-reveal-my-text');

            text.textContent = input.dataset.originalComment;
            text.classList.remove('hidden');
            input.classList.add('hidden');
            saveBtn.classList.add('hidden');
            editBtn.classList.remove('hidden');
            cancelBtn.classList.add('hidden');
            revealMine.classList.remove('hidden');
            input.value = '';

          } else if (event.target.matches('.diary-reply-delete-button')) {
            // 내가 작성한 댓글 삭제 이벤트
            const confirmed = confirm('댓글을 삭제하시겠습니까?');
            if (!confirmed) return;

            const parent = event.target.closest('.diary-reply-div');
            const comment_id = parent.dataset.commentId;

            const diary_id = '{{ diary._id }}';
            const response = await fetch(`/diary/${diary_id}/comments/${comment_id}`, {
              method: 'DELETE',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                diary_id: diary_id,
                comment_id: comment_id
              })
            });

            const data = await response.json();
            if (data.redirect) {
              alert(data.message)
              window.location.href = data.redirect;
            }
          }
        })

        document.querySelectorAll('.diary-reply-edit-button').forEach(function(editBtn) {
          editBtn.addEventListener('click', function() {
            const parent = editBtn.closest('.diary-reply-div');
            const text = parent.querySelector('.diary-reply-text');
            const input = parent.querySelector('.diary-reply-edit-input');
            const cancelBtn = parent.querySelector('.diary-reply-cancel-button');
            const saveBtn = parent.querySelector('.diary-reply-save-button');
            const revealMine = parent.querySelector('.reply-reveal-my-text');

            // 원래 댓글 내용을 data 속성에 저장
            input.dataset.originalComment = text.textContent.trim();

            // 텍스트 숨기고 input 보이기
            text.classList.add('hidden');
            input.classList.remove('hidden');
            input.value = text.textContent.trim();
            editBtn.classList.add('hidden');
            cancelBtn.classList.remove('hidden'); // 취소 버튼 추가
            saveBtn.classList.remove('hidden');
            revealMine.classList.add('hidden')
            input.focus();
          });
        });

        /*
        // TODO [저장] 버튼 이벤트는 상단에 이벤트 위임으로 처리했기에 일단 주석 처리 -> 추후에 제거할 것
        document.querySelectorAll('.diary-reply-save-button').forEach(function(saveBtn) {
          saveBtn.addEventListener('click', function() {
            const parent = saveBtn.closest('.diary-reply-div');
            const text = parent.querySelector('.diary-reply-text');
            const input = parent.querySelector('.diary-reply-edit-input');
            const editBtn = parent.querySelector('.diary-reply-edit-button');
            const revealMine = parent.querySelector('.reply-reveal-my-text');
            // input 값으로 텍스트 변경
            text.textContent = input.value;
            text.classList.remove('hidden');
            input.classList.add('hidden');
            saveBtn.classList.add('hidden');
            editBtn.classList.remove('hidden');
            revealMine.classList.remove('hidden');
          });
        });
         */

        // 다음 일기 보기 버튼 이벤트
        document.querySelector('.diary-reply-random-button').addEventListener('click', function() {
          window.location.href = '/diary/random';
        });

        // 댓글 게시하기 버튼 이벤트
        document.querySelector('.diary-add-reply-button').addEventListener('click', async () => {
          const diary_id = '{{ diary._id }}';

          const commentEl = document.querySelector('.diary-add-reply-input');
          const comment = commentEl.value;

          if (!comment || comment.trim() === '') {
            alert('댓글을 입력해주세요!');
            commentEl.focus();
            return;
          }

          const response = await fetch(`/diary/${diary_id}/comments`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              diary_id: diary_id,
              comment: comment
            })
          });

          const data = await response.json();
          if (data.redirect) {
            window.location.href = data.redirect;
          }
        });

        // 좋아요 버튼 클릭 이벤트
        document.querySelector('.diary-like-button').addEventListener('click', async function() {
          const diary_id = '{{ diary._id }}';
          const likeCountElem = this.querySelector('.diary-like-count-text');
          const response = await fetch(`/api/diary/${diary_id}/like`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            }
          });
          const data = await response.json();
          console.log('좋아요 응답 status:', response.status, data);

          if (response.ok && data.like_count !== undefined) {
            likeCountElem.textContent = data.like_count + '개';
          } else if (response.status === 400) {
            alert(data.message || '이미 좋아요를 누르셨습니다.');
          } else {
            alert(data.message || '좋아요 처리 중 오류가 발생했습니다.');
          }
        });
      });
    </script>

    <script type="module">
      import { setupGraphemeLimiter } from "{{ url_for('static', filename='js/emoji-segmenter.js') }}";

      setupGraphemeLimiter({
        inputSelector: '.diary-add-reply-input',
        maxChars: 30,
        locale: 'ko',
      });

      setupGraphemeLimiter({
        inputSelector: '.diary-reply-edit-input',
        maxChars: 30,
        locale: 'ko',
      })
    </script>
  </body>
</html>
